<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Seja bem-vindo!</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-comments fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"><%= @total_users %></div>
                      <div>Total de usuários do sistema!</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-6">
      <div class="panel panel-green">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-tasks fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"><%= @total_questions %></div>
                      <div>Total de questões do sistema!</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>