<p>Olá <%= @resource.email %>!</p>
<p>Alguém requisitou um link para algerar a sua senha. Você pode fazer isso através do link abaixo.</p>
<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Se você não requisitou isso, por favor ignore esse email.</p>
<p>Sua senha não será alterada a menos que você acesse o link acuma e crie uma nova.</p>
