<h1><%= t('editing.coin') %></h1>

<%= render 'form', coin: @coin %>

<%= link_to t('links.show'), @coin, class:"btn btn-primary"  %> |
<%= link_to t('links.back'), coins_path, class:"btn btn-primary"  %>
