// Place all the styles related to the admins_backoffice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require bootstrap/dist/css/bootstrap
 *= require metismenu/dist/metisMenu
 *= require sb-admin-2
 *= require font-awesome/css/font-awesome
 */
