// Place all the styles related to the users_backoffice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require bootstrap/dist/css/bootstrap
 *= require font-awesome/css/font-awesome
 *= require nprogress/nprogress
 *= require malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar
 *= require jquery-ui/themes/base/datepicker
 *= require jquery-ui/themes/base/theme
 *= require custom
 */