<ul>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
</ul>