<h1>Seja Bem-Vindo!</h1>
<p>
  Jackson Pires 
</p>

<p> A soma é: <%=  1 + 1   %>  </p>
<p> Seu nome de trás pra frente é: <%=  "Jackson".reverse   %>  </p>
<% ax = "minha variavel a" %>
<p>Imprimindo a variavel a: <%= ax %></p>
<p>A data de hoje é: <%= Date.today %></p>