<div class="jumbotron">
  <h1 class="display-4"><%= t('welcome') %></h1>
  <p class="lead"><%= t('messages.welcome')%></p>
  <hr class="my-4">
  <p><%= t('messages.menu')%></p>
  <%= render "menu" %>
</div>